<p> Page d'event <%= @event.id %> </p>

<p> L'event aura lieu à <%= @event.place %> le <%= @event.dat e%></p>
<p>Description : <%= event.description %> </p>

<%= link_to "Revenir à l'index", events_path %>
